<%- include('../partials/header',{root:"../"}); %>
    <title>Dashboard</title>
</head>

<body>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">nouveau post</h5>
          <p class="card-text">Faire la pub d'un nouveau défi</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <%- include('../partials/script'); %>
</body>