<%- include('../partials/header',{root:"../"}); %>
    <title>Login</title>
</head>

<body>
    <%- include('../partials/centurieNavbar',{connected:connected}); %>
   <h1>Bienvenue au Challenge Century</h1>
    <%- include('../partials/script'); %>
</body>